#{extends 'main.html' /}
#{set 'moreScripts'}
     #{script 'roadmap.js'/}
#{/set}
#{set 'moreStyles'}
     #{stylesheet 'roadmap.css'/}
#{/set}


<div id="road-maps-left">
	<div class="rm-item">
		<div class="rm-info">
			<div class="rm-col1">1</div>
			<div class="rm-col2">
				<h2>系统推荐路线1</h2>
				<p>传统四合院式青旅，隐匿在胡同深处，距地铁步行五分钟。网友评价说“地道的四合院”。</p>
			</div>
		</div>
	</div>
	<div class="rm-item">
		<div class="rm-info">
			<div class="rm-col1">2</div>
			<div class="rm-col2">
				<h2>系统推荐路线2</h2>
				<p>传统四合院式青旅，隐匿在胡同深处，距地铁步行五分钟。网友评价说“地道的四合院”。</p>
			</div>
		</div>
	</div>
	<div class="rm-item">
		<div class="rm-info">
			<div class="rm-col1">3</div>
			<div class="rm-col2">
				<h2>系统推荐路线3</h2>
				<p>传统四合院式青旅，隐匿在胡同深处，距地铁步行五分钟。网友评价说“地道的四合院”。</p>
			</div>
		</div>
	</div>
</div>
<div id="road-maps-right">
	
</div>
<div class="clearfix"></div>