<!DOCTYPE html>

<html>
    <head>
        <title>Admin  #{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" ></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" ></script>
        <script src="@{'/public/javascripts/init.js'}" type="text/javascript" ></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	#{include 'Admins/header.html'/}
    	<div class="container">
				#{doLayout /}
			</div>
      #{include 'Admins/footer.html'/}
    </body>
</html>
