#days-nav-container {
	margin-left: 140px;
	margin-top: 80px;
	width: 140px;
	text-align: right;
}
.days-nav {
	border-right: 5px #DDD solid;
	font-size: 20px;
	text-decoration: none;
	padding: 0 15px 17px 16px;
}
.days-nav a:HOVER {
	text-decoration: none;
}
#days-plan-container {
	margin-left: 140px;
	float: right;
	width: 840px;
}
.day-date {
	float: left;
	width: 100px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}
.day-plan {
	border-bottom: 1px #DDD solid;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.day-plan-map,.day-plan-image {
	margin: 5px 0;
}
.day-plan-image {
	max-height: 300px;
	text-align: center;
}
.day-time-plan {
	margin-bottom: 10px;
	clear: both;
}
.day-time {
	font-size: 18px;
	line-height: 30px;
}
.plan-name-saved {
	background-color: transparent;
}
.plan-name {
	line-height: 28px;
	font-size: 20px;
}
.day-time-content {
	font-size: 14px;
	line-height: 16px;
	margin-top: 10px;
}
.day-time-content textarea {
	background: transparent;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.05)
}
#imgPreview {
	max-height: 200px;
}
#newPlanBtn {
	float: right;
}
.total-days {
	background: url("../images/circle-bg.png");
	float: left;
	height: 100px;
	width: 100px;
	text-align: center;
	color: #FFF;
	line-height: 100px;
	font-size: 24px;
}
.plan-list {
	 width: 100%;
	 height: 120px;
}
.plan-desc {
	float: left;
	height: 100px;
	margin-left: 10px;
}
.plan-desc div{
	margin: 5px;
}
.plan-desc-title {
	font-size: 16px;
}
.plan-desc-content {
	font-size: 12px;
	word-break: break-all;
}
.plan-desc-scenics a{
	margin: 0 5px;
}