#traffic-left {
	float: left;
	width: 200px;
}
#traffic-right {
	float: right;
	width: 750px;
}
#search-btn-box {
	margin-top: 10px;
}
.tab-btn, .tab-btn-on {
   float: left;
   cursor: pointer;
   padding:0 10px;
   width: 70px;
   text-align: center;
}
.tab-btn-on {
   background: #E1E1E1; 
}