#{extends 'Admins/main.html' /}
#{set title:'景点管理' /}
#{set 'moreScripts'}
     #{script 'jquery.validate.js'/}
#{/set}
<script type="text/javascript">
    $(document).ready(function(){
        $("#scenicForm").validate({
            errorElement: "div"
        });
          //初始化省市联动
        locationSelection("province","city","region","${scenic?.region?.city?.province?.id}","${scenic?.region?.city?.id}","${scenic?.region?.id}");
          //设置select选项
        $("#scenicLevel option[value='${scenic?.level}']").attr("selected","selected");
    });
    
    function scenicSave(){
        $("#tips").html('<a class="close" data-dismiss="alert" href="#">×</a>');
        var result = true;
        if($("#region").val().length==0){
            $("#tips").html($("#tips").html() + "<div>请选择景点行政区域</div>");
            result = false;
        }
           if(result==false){
               $("#tips").attr("class","alert alert-error");
           }
           return result;
    }
    function deleteImage(_id){
    	if(confirm("删除该图片？")){
    		$.post("@{Scenics.deleteImage()}",{imageId:_id},function(){
    			$("#image_"+_id).remove();
    		});
    	}
    	return false;
    }
    function deleteRoadmap(_scenicId){
    	if(confirm("删除该图片？")){
    		$.post("@{Scenics.deleteRoadmap()}",{scenicId:_scenicId},function(){
    			$("#roadmap_"+_scenicId).remove();
    		});
    	}
    	return false;
    }
</script>

<div class="container-fluid">
  <!-- 左侧导航栏 -->
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked" id="scenic-menus">
          <li><a href="@{Admins.newScenic()}">添加新景点</a></li>
        <li class="active"><a href="@{Admins.editScenic()}">完善景点基本信息</a></li>
      </ul>
    </div>
    <!-- 右侧内容栏 -->
    <div class="span10">
      <div class="well">
          #{include 'Application/error.html'/}
          <div id="tips"></div>
        <div class="container-fluid">
                  <div class="row-fluid">
                    <!-- 左侧已编辑景点 -->
                    <div class="span3">
                      <div>未编辑条目总数：${count}</div>
                      <div>已编辑景点:</div>
                      <div>
                          #{list scenics,as : 's'}
                          <div style="white-space: nowrap;"><a href="@{Admins.editScenic(s.id,false)}">${s.name}</a></div>
                          #{/list}
                      </div>
                    </div>
                    <!-- form -->
                    <div class="span8">
                      <form id="scenicForm" action="@{Admins.saveScenic()}" method="post" enctype="multipart/form-data" onsubmit="return scenicSave()">
                                <input name="scenic.id" value="${scenic?.id}" type="hidden"/>
                                <div id="scenic-form">
                                  <table class="table-condensed">
                                    <tr><td>景点全称</td><td>${scenic?.name}</td></tr>
                                    <tr><td>行政区域</td><td>
                                      <select id="province" name="province" class="span2">
                                        <option value="">所在省/直辖市</option>
                                      </select>
                                      <select id="city" name="city" class="span2">
                                        <option value="">所在城市</option>
                                      </select>
                                      <select id="region" name="scenic.region.id" class="span2">
                                        <option value="">所在区</option>
                                      </select>
                                    </td></tr>
                                    <tr><td>景点简介</td><td><textarea class="required input-xlarge" name="scenic.description" rows="5">${scenic?.description }</textarea></td></tr>
                                    <tr><td>详细地址</td><td><input class="required input-xlarge" name="scenic.address" type="text" value="${scenic?.address }"/></td></tr>
                                    <tr><td>景区电话</td><td><input class="input-xlarge" name="scenic.tel" type="text" value="${scenic?.tel }"/></td></tr>
                                    <tr><td>景点评级</td><td>
                                      <select class="required span2" name="scenic.level" id="scenicLevel">
                                        <option></option>
                                        <option value="A">A</option>
                                        <option value="AA">AA</option>
                                        <option value="AAA">AAA</option>
                                        <option value="AAAA">AAAA</option>
                                        <option value="AAAAA">AAAAA</option>
                                      </select>
                                    </td></tr>
                                    <tr><td>景点门票</td><td><input placeholder="门票类型、价格介绍" class="input-xlarge" type="text" name="scenic.ticketPrice" value="${scenic?.ticketPrice}"/></td></tr>
                                    <tr><td>景点规模</td><td><input placeholder="亩或平方米，直接输入字符串即可" class="input-xlarge" type="text" name="scenic.scale" value="${scenic?.scale}"/></td></tr>
                                    <tr><td>景点坐标</td><td>
                                        <input class="input-xlarge" type="text" name="scenic.location" value="${scenic?.location}" placeholder="使用Google My Maps链接"/>
                                        <a href="http://maps.google.com/" target="_blank">Google地图</a>
                                    </td></tr>
                                    <tr><td>景点外部交通</td><td><input class="input-xlarge" type="text" name="scenic.outterTraffic" value="${scenic?.outterTraffic}"/></td></tr>
                                    <tr><td>景点内部交通</td><td><input class="input-xlarge" type="text" name="scenic.innerTraffic" value="${scenic?.innerTraffic}"/></td></tr>
                                    <tr><td>内部游玩路线</td><td>
                                        <div><textarea class="input-xlarge" name="innerRoadmaps" rows="2">${scenic?.innerRoadmaps[0]?.content}</textarea></div>
                                        <div><textarea class="input-xlarge" name="innerRoadmaps" rows="2">${scenic?.innerRoadmaps[1]?.content}</textarea></div>
                                    </td></tr>
                                    <tr><td>景点图片</td><td>
                                    <div>
                                    <ul class="thumbnails">
                                    	#{list scenic?.images,as:'i'}
                                        <li class="span2" onclick="deleteImage('${i.id}')" id="image_${i.id}">
                                          <a class="thumbnail">
                                            <img src="/data/scenic/images/${i.imageName}"/>
                                          </a>
                                        </li>
                                        #{/list}
                                    </ul>
                                    </div>
                                    <div><textarea class="input-xlarge" name="images" placeholder="每张图片URL单独记录一行，请确保URL末尾为*.JPG/*.PNG等图片格式" rows="5"></textarea></div>
                                    </td></tr>
                                    <tr><td>景点内部线路图</td><td>                                        
                                        <ul class="thumbnails">
                                    	#{if scenic?.roadmapImage!=null }
	                                        <li class="span2" onclick="deleteRoadmap('${scenic?.id}')" id="roadmap_${scenic?.id}">
	                                          <a class="thumbnail">
	                                            <img src="/data/scenic/roadmaps/${scenic?.roadmapImage}"/>
	                                          </a>
	                                        </li>
	                                    #{/if}
	                                    </ul>
                                        <div><input class="input-xlarge" placeholder="请填入目标图片的url" type="text" name="roadmapImage" id="roadmapImage"/></div>
                                    </td></tr>
                                  </table>
                                </div>
                                </form>
                    </div>
                    <!-- 提交按钮 -->
                    <div class="span1">
                      <div id="scenic-list">
                 <div><a class="btn" href="#" onclick="$('#scenicForm').submit()">保存数据</a></div>
                 <div></div>
                 <div><a class="btn" href="@{Admins.editScenic(scenic?.id,true)}">换下一个</a></div>
               </div>
              </div>
            </div>
           </div>
      </div>
    </div>
  </div>
</div>
