#{extends 'main.html' /}
#{set title:'交通' /}
#{set 'moreScripts'}
     #{script 'traffic.js'/}
#{/set}
#{set 'moreStyles'}
     #{stylesheet 'traffic.css'/}
#{/set}

<div id="traffic-left">
	<div class="side-box">
		<div class="side-top">
			<div class="tab-btn">飞机票</div>
			<div class="tab-btn">火车票</div>
		</div>
		<div class="side-middle">
			<div>
				<span>航班类型:</span>
				<span>
					<select>
						<option>国内机票</option>
						<option>国际机票</option>
					</select>
				</span>
			</div>
			<div>
				<span>往返类型:</span>
				<span>
					<select>
						<option>单程</option>
						<option>往返</option>
						<option>联程</option>
					</select>
				</span>
			</div>
			<div>
				<span>出发城市:</span>
				<span>
					<input type="text" size="10"/>
				</span>
			</div>
			<div>
				<span>目的城市:</span>
				<span>
					<input type="text" size="10"/>
				</span>
			</div>
			<div>
				<span>出发日期:</span>
				<span>
					<input type="text" size="10"/>
				</span>
			</div>
			<div>
				<span>舱位等级:</span>
				<span>
					<select>
						<option>经济舱</option>
						<option>头等舱</option>
					</select>
				</span>
			</div>
			<div id="search-btn-box" align="center">
				<input type="button" class="search-btn"/>
			</div>
		</div>
		<div class="side-bottom"></div>
	</div>
	
	<div class="side-box">
		<div class="side-top">特价促销</div>
		<div class="side-middle">
			<div>特价促销1</div>
			<div>特价促销2</div>
			<div>特价促销3</div>
		</div>
		<div class="side-bottom"></div>
	</div>
</div>
<div id="traffic-right">
	<div id="plane-slider">
		<img alt="" src="/data/plane-pic.png"/>
	</div>
	<div style="margin: 10px;">最近30天特价</div>
	<div style="margin: 10px;">国内特惠机票</div>
	<div style="margin: 10px;">国际特惠机票</div>
</div>
<div class="clearfix"></div>