#{extends 'main.html' /}
#{set title:'景点详情' /}
#{set 'moreStyles'}
     #{stylesheet 'scenic.css'/}
#{/set}
#{set 'moreScripts'}
     #{script 'scenic.js'/}
#{/set}

<div id="location">
	<div id="scenic-name">
		<span>重渡沟</span>
		<span id="scenic-level">AAAA</span>
	</div>
	<div id="scenic-address">地址：河南省 栾川县 潭头镇西南部</div>
</div>
<div id="scenic-overview">
	<div id="overview-left">
		<img alt="" src="/data/scenic-pic.png"/>
	</div>
	<div id="overview-right">
		<div>到到网评分：4.5</div>
		<div>门票价格: 80/人</div>
		<div>联系电话：000-0000000</div>
	</div>
</div>
<div class="clearfix"></div>
<div id="scenic-detail">
	<div id="detail-left">
      <div class="side-box">
        <div class="side-top">地图</div>
        <div class="side-middle"><img src="/data/side-map.png"/></div>
        <div class="side-bottom"></div>
      </div>
      <div class="side-box">
        <div class="side-top">类似景点推荐</div>
        <div class="side-middle">
            <div class="side-scenic-recommand">景点推荐</div>
            <div class="side-scenic-recommand">景点推荐</div>
            <div class="side-scenic-recommand">景点推荐</div>
            <div class="side-scenic-recommand">景点推荐</div>
        </div>
        <div class="side-bottom"></div>
      </div>
	</div>
	<div id="detail-right">
         <div class="right-side-box">
           <div class="right-side-top">
                <div class="tab-btn">景点介绍</div>
                <div class="tab-btn">附近设施</div>
                <div class="tab-btn">游客点评</div>
                <div class="tab-btn">旅行社推荐</div>
           </div> 
           <div class="right-side-middle">
                <div>景点介绍</div>
           </div> 
           <div class="right-side-bottom"></div> 
        </div>
	</div>
</div>
<div class="clearfix"></div>
