#{extends 'main.html' /}
#{set title:'景点' /}
#{set 'moreStyles'}
     #{stylesheet 'scenic.css'/}
#{/set}
#{set 'moreScripts'}
     #{script 'scenic.js'/}
#{/set}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" align="center">
      <div id="search-scenic-box">
			  <form action="@{Scenics.search()}" method="get">
			    <div><input type="text" name="keywords" class="input-medium search-query"/></div>
			    <div>
				    <button type="submit" class="btn btn-primary" id="scenic-search">
		          <i class="icon-search icon-white"></i>
		          <span>景区搜索</span>
	          </button></div>
			  </form>
			</div>
			<div id="tags-box">
			   <button class="btn" data-toggle="button">海滩</button>
			   <button class="btn" data-toggle="button">历史</button>
			   <button class="btn" data-toggle="button">山水冒险</button>
			   <button class="btn" data-toggle="button">浪漫</button>
			   <button class="btn" data-toggle="button">都市</button>
			</div>
    </div>
    <div class="span9">
      <!-- slider -->
      <div id="myCarousel" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item">
			     <img height="200" style="height: 200px" width="720" src="/public/images/1.jpg" alt=""/>
			     <div class="carousel-caption">
             <h4>TEST 1</h4>
             <p>This is a test image,No. 01</p>
           </div>
			    </div>
			    <div class="item">
			     <img height="200" style="height: 200px" width="720" src="/public/images/2.jpg" alt=""/>
           <div class="carousel-caption">
             <h4>TEST 2</h4>
             <p>This is a test image,No. 02</p>
           </div>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			<!-- 推荐景区 -->
			<div id="recommend-scenic-line">
	      <div>近期热门景区</div>
	    </div>
	    <!-- 推荐景区列表 -->
	    <ul class="thumbnails" id="scenic-thumb-recommend">
			  <li class="span2">
			    <div class="thumbnail">
			      <img src="/public/images/160120.png" alt="">
			      <h5>Thumbnail label</h5>
			      <p>Thumbnail caption right here...</p>
			    </div>
			  </li>
			  <li class="span2">
          <div class="thumbnail">
            <img src="/public/images/160120.png" alt="">
            <h5>Thumbnail label</h5>
            <p>Thumbnail caption right here...</p>
          </div>
        </li>
        <li class="span2">
          <div class="thumbnail">
            <img src="/public/images/160120.png" alt="">
            <h5>Thumbnail label</h5>
            <p>Thumbnail caption right here...</p>
          </div>
        </li>
        <li class="span2">
          <div class="thumbnail">
            <img src="/public/images/160120.png" alt="">
            <h5>Thumbnail label</h5>
            <p>Thumbnail caption right here...</p>
          </div>
        </li>
			</ul>
    </div>
  </div>
</div>

