#{extends 'main.html' /}
#{set title:'景点' /}
#{set 'moreStyles'}
     #{stylesheet 'scenic.css'/}
#{/set}
#{set 'moreScripts'}
     #{script 'scenic.js'/}
#{/set}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" align="center">
      <div id="search-scenic-box">
			  <form action="@{Scenics.list()}" method="get">
			    <div><input type="text" name="keywords" class="input-medium search-query"/></div>
			    <div>
				    <button type="submit" class="btn btn-primary" id="scenic-search">
		          <i class="icon-search icon-white"></i>
		          <span>景区搜索</span>
	          </button></div>
			  </form>
			</div>
			<div id="tags-box">
			   <button class="btn" data-toggle="button">海滩</button>
			   <button class="btn" data-toggle="button">历史</button>
			   <button class="btn" data-toggle="button">山水冒险</button>
			   <button class="btn" data-toggle="button">浪漫</button>
			   <button class="btn" data-toggle="button">都市</button>
			</div>
    </div>
    <div class="span9">
			<!-- 推荐景区 -->
			<div class="bottom-line-bold">
	      <div>搜索结果</div>
	    </div>
	    <!-- 推荐景区列表 -->
	    <ul class="thumbnails" id="scenic-thumb-recommend">
			  <li class="span2">
			    <div class="thumbnail">
			      <img src="/data/160120.png" alt="">
			      <h5>Thumbnail label</h5>
			      <p>Thumbnail caption right here...</p>
			    </div>
			  </li>
			  <li class="span2">
          <div class="thumbnail">
            <img src="/data/160120.png" alt="">
            <h5>Thumbnail label</h5>
            <p>Thumbnail caption right here...</p>
          </div>
        </li>
        <li class="span2">
          <div class="thumbnail">
            <img src="/data/160120.png" alt="">
            <h5>Thumbnail label</h5>
            <p>Thumbnail caption right here...</p>
          </div>
        </li>
        <li class="span2">
          <div class="thumbnail">
            <img src="/data/160120.png" alt="">
            <h5>Thumbnail label</h5>
            <p>Thumbnail caption right here...</p>
          </div>
        </li>
			</ul>
    </div>
  </div>
</div>

