#{extends 'main.html' /}
#{set title:'住宿' /}
#{set 'moreScripts'}
     #{script 'hotel.js'/}
#{/set}
<div id="souyou-box">
	<div class="souyou-left">
		<!-- 酒店类型 -->
		<div class="souyou-left-option">
			<div id="hotel_type">
				<input type="radio" id="radio1" name="radio"  checked="checked"/><label for="radio1">酒店</label>
				<input type="radio" id="radio2" name="radio"/><label for="radio2">家庭旅馆</label>
				<input type="radio" id="radio3" name="radio" /><label for="radio3">青年旅社</label>
				<input type="radio" id="radio4" name="radio"/><label for="radio4">宾馆</label>
			</div>
		</div>
		<div class="souyou-left-option">
			所在城市:<input type="text" name="city"/>
		</div>
		<div class="souyou-left-option">
			入住时间:<input type="text" name="begin_date" id="begin_date"/>
			离店时间:<input type="text" name="end_date" id="end_date"/>
		</div>
	</div>
	<div class="souyou-right">
		<button class="souyou-btn">搜住宿</button>
	</div>
</div>