<div class="navbar" id="header">
	<div class="width960">
		<div class="container-fluid">
			<div class="span8">
				<ul id="nav-ul">
					<li><a href="/">搜游岛</a></li>
					<li><a href="@{Scenics.index()}">景区</a></li>
					<li><a href="@{Plans.index()}">计划</a></li>
				</ul>
			</div>
			<div id="login-btn" class="form-inline">
			   #{if session.USER_ID_IN_SESSION}
			     ${session.USERNAME_IN_SESSION}
			     <a href="@{Users.logout()}" class="badge">退出</a></div>
			   #{/if}
			   #{else}
			     <a href="@{Users.login()}" class="badge">登录/注册</a></div>
			   #{/else}
		</div>
	</div>
</div>