<div class="header">
	<div class="header-top">
		<div class="logo">LOGO</div>
		<div class="tools">
			<span class="tel" title="24小时机票酒店预订电话(免长途话费)">400-xxx-xxx</span>
		</div>
	</div>
	<div class="nav-box">
		<div class="nav">
			<ul>
				<li class="nav-on"><a href="@{Application.index()}">搜游岛</a></li>
				<li><a href="@{Application.index()}">景点</a></li>
				<li><a href="@{Hotels.index()}">住宿</a></li>
				<li><a href="@{Traffics.index()}">交通</a></li>
				<li><a href="@{Application.index()}">结伴</a></li>
				<li><a href="@{Application.index()}">团购</a></li>
				<li><a href="@{Application.index()}">出行必备</a></li>
			</ul>
		</div>
	</div>
</div>