#{extends 'main.html' /}
#{set title:'搜游岛' /}
#{set 'moreStyles'}
	#{stylesheet 'jquery-ui-slider.css'/}
    #{stylesheet 'application.css'/}
#{/set}
#{set 'moreScripts'}
     #{script 'jquery-ui-slider.js'/}
     #{script 'application.js'/}
#{/set}
<div style="height: 400px">
	<div align="center" style="padding-top: 150px">
		<form action="@{Application.search()}" method="get" onsubmit="return checkSearhBox()">
			<input type="text" class="input-xlarge search-query" id="search-box" name="keywords" placeholder="输入景点名、游玩风格等进行搜索">
	 		<button type="submit" class="btn btn-large btn-primary" id="search-btn">
	 			<i class="icon-search icon-white"></i>
	  		<span>旅游搜索</span>
	  	</button>
  	</form>
  	<div class="search-options">
  		<div class="search-option">
			<div id="slider-days" class="search-opt-left"></div>
			<input type="text" id="amount-days" class="search-opt-right input-small"/>
		</div>
		<div class="search-option">
			<div id="slider-consume" class="search-opt-left"></div>
			<input type="text" id="amount-consume" class="search-opt-right input-small"/>
		</div>
  	</div>
	</div>
</div>