#{extends 'main.html' /}
#{set title:'搜游岛' /}
#{set 'moreStyles'}
     #{stylesheet 'application.css'/}
     #{stylesheet 'jquery-ui-slider.css'/}
#{/set}
#{set 'moreScripts'}
     #{script 'application.js'/}
     #{script 'jquery-ui-slider.js'/}
#{/set}
<div>
	<div>
		<div align="center">
		<form action="@{Application.search()}" method="get">
			<input value="${keywords}" type="text" class="input-xlarge search-query" name="keywords" id="search-box" placeholder="输入景点名、游玩风格等进行搜索"/>
			<input type="hidden" value="${keywords}" id="keywords"/>
		  	<button type="submit" class="btn btn-large btn-primary" id="search-btn">
		  		<i class="icon-search icon-white"></i>
		  		<span>旅游搜索</span>
		  	</button>
		</form>
		</div>
		<div class="bottom-line-bold">
			<div>搜索结果</div>
		</div>
		<div class="well">
			<ul class="nav nav-pills">
		   <li class="active"><a href="#full-web" data-toggle="tab">综合搜索</a></li>
			  <li><a href="#scenic-list" data-toggle="tab">景点</a></li>
			  <li><a href="#profile" data-toggle="tab">路线</a></li>
			  <li><a href="#settings" data-toggle="tab">计划</a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="full-web">
			     <!-- 首先列出得分最高的几个景点 -->
			     <div id="topN-scenics">
			       <ul class="thumbnails">
			        #{list scenics,as:'s'}
              <li class="span2">
				       <div class="thumbnail">
			          <a href="@{Scenics.detail(s.id)}" target="_blank">
			            #{if s.thumb == null}
			              <img src="/public/images/160120.png" alt="${s.name}"/>
			            #{/if}
			            #{if s.thumb != null}
			              <img style="height: 120px;" src="/data/scenic/images/thumbs/${s.thumb }" alt="${s.name}"/>
			            #{/if}
			          </a>
			          <h5>${s.name}</h5>
			          <p>${s.briefDesc}</p>
	             </div>
	             </li>
	             #{/list}
	           </ul>
			     </div>
			     <!-- 再列出全网搜索的结果 -->
			     <div id="full-web-results" class="span7"></div>
			     <div id="web-search-loading" class="span7 alert alert-info" align="center">
			     	数据加载中......
			     </div>
			     <div class="span7 alert alert-info" align="center" id="web-search-read-more">
			     	点击加载更多
			     </div>
			  </div>
			   
			  <div class="tab-pane" id="scenic-list">景点列表</div>
			  <div class="tab-pane" id="profile">火热开发中，敬请期待</div>
			  <div class="tab-pane" id="settings">火热开发中，敬请期待</div>
			</div>
		</div>
	</div>
</div>