#{extends 'main.html' /}
#{set title:'计划' /}
#{set 'moreScripts'}
     #{script 'plan.js'/}
     #{script 'jquery.ptTimeSelect.js'/}
#{/set}
#{set 'moreStyles'}
     #{stylesheet 'plan.css'/}
     #{stylesheet 'jquery.ptTimeSelect.css'/}
#{/set}
<input type="hidden" id="planId" value="${plan.id}"/>
<div id="days-nav-container" class="navbar navbar-fixed-top">
	<div class="days-nav days-active"><a href="#">8月31日</a></div>
	<div class="days-nav"><a href="#">9月1日</a></div>
</div>
<div id="days-plan-container">
  <div class="well">
	    <div class="span6"><input onfocus="editPlanName()" class="input-xxlarge" type="text" id="planName" name="planName" value="${plan.name}"/></div>
	    <div class="span2">
	     <a class="btn btn-primary" onclick="savePlanName(${plan.id})" id="savePlanNameBtn">保存标题</a>
	     <a class="btn btn-success" onclick="addDayPlan()">添加一天</a>
	    </div>
  </div>
  #{list planDays,as:'d'}
	<!-- 每一天的计划 -->
	<div class="day-plan" planDayId="${d.id}">
		<!-- 当天日期 -->
		<div class="day-label">
		  <div class="btn-group">
		    <button class="btn btn-info datepick" data-date-format="yyyy-mm-dd" data-date="${d.date}">
		      #{if d.date == null}选择日期#{/if}
		      #{else}${d.date}#{/else}
		    </button>
			  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			      <li><a onclick="addDayTime(this)">添加时间段</a></li>
            <li><a href="#">添加图片</a></li>
            <li><a href="#">添加地图</a></li>
            <li><a href="#">删除本日计划</a></li>
         </ul>
      </div>
      <div id="day-plan-maps">MAPS</div>
      <div id="day-plan-images">IMAGES</div>
		</div>
		<!-- 当天计划内容 -->
		<div class="day-content">
			#{list d.planTimes,as:'t'}
			<!-- 当天计划的时间表 -->
			<div class="day-time-plan">
				<div class="day-time">
				  <input type="text" class="timepick input-small" planTimeId="${t.id}" name="startTime" value="${t.startTime}"/>
				  到
				  <input type="text" class="timepick input-small" name="endTime" planTimeId="${t.id}" value="${t.endTime}"/>
				</div>
				<div class="day-time-content">
					吃早饭，打车到动物园
				</div>
			</div>
			#{/list}
		</div>
		<!-- 当天计划内容 end -->
	</div>
	#{/list}
</div>